#setCreate h3 {
  font-size: 0.24rem;
  color: #484848;
  padding: 0.14rem 0.24rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
#setCreate .introduce {
  position: fixed;
  top: 0.61rem;
  padding: 0 0.24rem;
  font-size: 0.12rem;
  color: #848484;
}
#setCreate ul {
  position: fixed;
  top: 0.77rem;
  padding: 0.32rem 0.24rem;
}
#setCreate ul li {
  margin-bottom: 0.24rem;
}
#setCreate ul li .pre {
  padding-top: 0.32rem;
}
#setCreate ul li > p {
  display: flex;
  align-items: center;
  font-size: 0.14rem;
  color: #848484;
}
#setCreate ul li > p .tag {
  display: inline-block;
  width: 0.04rem;
  height: 0.04rem;
  background: #119DFF;
  border-radius: 0.02rem;
  margin-right: 0.12rem;
}
#setCreate ul li > div {
  margin-top: 0.12rem;
  border: 0.01rem solid #EFEFEF;
  border-radius: 0.05rem;
  width: 3.27rem;
  min-height: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#setCreate ul li > div .preferences img,
#setCreate ul li > div .preferences_1 img {
  width: 0.5rem;
  height: 0.5rem;
}
#setCreate ul li > div .preferences_1 {
  width: 3.29rem;
  display: flex;
  justify-content: center;
}
#setCreate ul li > div .preferences_1 img {
  margin: 0 0.02rem;
}
#setCreate ul li > div .leftBtn img {
  width: 0.06rem;
}
#setCreate ul li > div .title {
  color: #A9A9A9;
  font-size: 0.12rem;
}
#setCreate ul li > div .scope {
  font-size: 0.17rem;
  color: #484848;
  max-width: 1.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#setCreate ul li > div .scope a {
  font-size: 0.17rem;
  color: #484848;
}
#setCreate .btn {
  color: #fff;
  font-size: 0.15rem;
  text-align: center;
  width: 3.27rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.04rem;
  background: #119dff;
  position: fixed;
  bottom: 0.16rem;
  margin-left: 0.24rem;
}
