#list {
  padding-bottom: 0.85rem;
}
#list .lists {
  padding: 0 0.24rem;
  margin-top: 0.24rem;
  position: relative;
}
#list .lists .imgs {
  border-radius: 0.1rem;
  overflow: hidden;
}
#list .lists .imgs img {
  width: 100%;
}
#list .lists .conts .contsLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.13rem;
  line-height: 0.18rem;
}
#list .lists .conts .contsLeft .cont {
  padding-left: 0.16rem;
  margin-left: 0.16rem;
  border-left: 0.01rem solid #848484;
  margin-top: 0.13rem;
  margin-bottom: 0.1rem;
  line-height: 0.19rem;
}
#list .lists .conts .contsLeft .cont .title {
  font-size: 0.17rem;
  color: #383838;
  line-height: 0.24rem;
}
#list .lists .conts .contsLeft .cont .sub {
  color: #119DFF;
}
#list .lists .conts .contsLeft .days {
  font-size: 0.46rem;
  line-height: 0.4rem;
}
#list .lists .conts .contsLeft .days small {
  font-size: 0.13rem;
  align-items: flex-end;
  line-height: 0.13rem;
}
#list .lists input[type="checkbox"] {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  display: none;
  border: none;
  border: 0.01rem solid red;
  z-index: 111;
  position: absolute;
  right: 0.4rem;
  top: -0.12rem;
}
#list .lists [id^="checkbox-0-"] + label {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../../../../assets/images/add.png);
  background-repeat: no-repeat;
  background-size: 0.24rem 0.24rem;
  background-position: 0rem 0rem;
  position: absolute;
  right: 0.4rem;
  top: -0.12rem;
}
#list .lists [id^="checkbox-0-"]:checked + label {
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../../../../assets/images/yes.png);
  background-repeat: no-repeat;
  background-size: 0.24rem 0.24rem;
  background-position: 0rem 0rem;
  position: absolute;
  right: 0.4rem;
  top: -0.12rem;
}
#list .btn {
  width: 100%;
  height: 0.8rem;
  background: #fff;
  border-top: 0.01rem solid #eee;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#list .btn .add {
  width: 3.27rem;
  height: 0.5rem;
  background: #119DFF;
  border-radius: 0.05rem;
  font-size: 0.15rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
}
